---
import '../styles/index.css'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'

const response = await fetch('http://localhost:3000/src/mocks/data.json')
const data = await response.json()
const finalData = data
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Batmans</title>
	</head>
	<body>
		<div class="main-container">
			<Header />
			<section class="img-container">
				{
					finalData?.map(item => (
						<Card data={item} />
					))
				}
			</section>
		</div>
	</body>
</html>