---
import '../styles/index.css'
import finalData from '../mocks/data.json'
import Layout from '../components/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'

// const response = await fetch('all-batmans/src/mocks/data.json')
// const data = await response.json()
// const finalData = data

---
<Layout pageTitle='The Batmans'>
	<div class="main-container">
		<Header />
		<section class="img-container">
			{
				finalData?.map(item => (
					// comprobamos que el campo name tiene algo para renderizar
					item.name !== '' && <Card data={item} />
				))
			}
		</section>
	</div>
</Layout>