<header>
  <nav>
    <img src="/all-batmans/icon5.png" alt="batman-icon1">
    <img src="/all-batmans/icon4.png" alt="batman-icon2">
    <img src="/all-batmans/icon6.png" alt="batman-icon3">
    <img src="/all-batmans/icon2.png" alt="batman-icon4">
    <img src="/all-batmans/icon9.png" alt="batman-icon5">
    <h1>THE BATMANS OF ALL TIME</h1>
    <img src="/all-batmans/icon7.png" alt="batman-icon6">
    <img src="/all-batmans/icon8.png" alt="batman-icon7">
    <img src="/all-batmans/icon10.png" alt="batman-icon8">
    <img src="/all-batmans/icon1.png" alt="batman-icon9">
    <img src="/all-batmans/icon3.png" alt="batman-icon10">
  </nav>
</header>