<header>
  <nav>
    <img src="/all-batmans/icon5.png" alt="">
    <img src="/all-batmans/icon4.png" alt="">
    <img src="/all-batmans/icon6.png" alt="">
    <img src="/all-batmans/icon2.png" alt="">
    <img src="/all-batmans/icon9.png" alt="">
    <h1>THE BATMANS OF ALL TIME</h1>
    <img src="/all-batmans/icon7.png" alt="">
    <img src="/all-batmans/icon8.png" alt="">
    <img src="/all-batmans/icon10.png" alt="">
    <img src="/all-batmans/icon1.png" alt="">
    <img src="/all-batmans/icon3.png" alt="">
  </nav>
</header>