<header>
  <nav>
    <img src="/icon5.png" alt="">
    <img src="/icon4.png" alt="">
    <img src="/icon6.png" alt="">
    <img src="/icon2.png" alt="">
    <img src="/icon9.png" alt="">
    <h1>THE BATMANS OF ALL TIME</h1>
    <img src="/icon7.png" alt="">
    <img src="/icon8.png" alt="">
    <img src="/icon10.png" alt="">
    <img src="/icon1.png" alt="">
    <img src="/icon3.png" alt="">
  </nav>
</header>